<section class="sponsors">
  <div class="container">
    <p class="sponsors-label">Patrocinadores oficiales</p>
    <div class="sponsors-grid">
      <div class="sponsor-item">
        <img src="{{ site.baseurl }}/assets/img/umbro.png" alt="Umbro">
      </div>
      <div class="sponsor-item">
        <img src="{{ site.baseurl }}/assets/img/ossett.png" alt="Ossett Brewery">
      </div>
      <div class="sponsor-item">
        <img src="{{ site.baseurl }}/assets/img/hepworth.png" alt="The Hepworth Wakefield">
      </div>
      <div class="sponsor-item">
        <img src="{{ site.baseurl }}/assets/img/exchange.png" alt="Wakefield Exchange">
      </div>
    </div>
  </div>
</section>
