<nav class="navbar" id="navbar">
  <div class="nav-inner">
    <a href="{{ site.baseurl }}/" class="nav-logo">
      <img src="{{ site.baseurl }}/assets/img/escudominimalista.png" alt="Wakefield F.C.">
      <div class="nav-logo-text">
        <span class="logo-text">WAKEFIELD <em>F.C.</em></span>
        <span class="logo-est">EST. 1890</span>
      </div>
    </a>
    <ul class="nav-links">
      <li><a href="{{ site.baseurl }}/" {% if page.url == '/' %}class="active"{% endif %}>Inicio</a></li>
      <li class="dropdown">
        <a href="#">El Club ▾</a>
        <ul class="dropdown-menu">
          <li><a href="{{ site.baseurl }}/pages/la-ciudad.html">La Ciudad</a></li>
          <li><a href="{{ site.baseurl }}/pages/historia.html">Historia</a></li>
          <li><a href="{{ site.baseurl }}/pages/estadio.html">El Estadio</a></li>
          <li><a href="{{ site.baseurl }}/pages/escudo.html">El Escudo</a></li>
          <li><a href="{{ site.baseurl }}/pages/cuerpo-tecnico.html">Cuerpo Técnico</a></li>
      </ul>
        <li class="dropdown">
  <a href="#">Tienda ▾</a>
  <ul class="dropdown-menu">
    <li><a href="{{ site.baseurl }}/pages/tienda-2526.html">Equipación 2025/26</a></li>
    <li><a href="{{ site.baseurl }}/pages/archivo-equipaciones.html">Archivo de equipaciones</a></li>
  </ul>
    </li>
        </ul>
      </li>
      <li><a href="{{ site.baseurl }}/pages/plantilla.html" {% if page.url contains 'plantilla' %}class="active"{% endif %}>Plantilla</a></li>
      <li class="dropdown">
        <a href="#">Temporadas ▾</a>
        <ul class="dropdown-menu">
          <li><a href="{{ site.baseurl }}/pages/temporada-2526.html">2025 / 2026</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#">Tienda ▾</a>
        <ul class="dropdown-menu">
          <li><a href="{{ site.baseurl }}/pages/tienda-2526.html">Equipaciones 2025/26</a></li>
        </ul>
      </li>
    </ul>
    <div class="nav-season">
      <span>2025 / 2026</span>
      <span>EFL League Two</span>
    </div>
    <button class="nav-toggle" id="navToggle">☰</button>
  </div>
</nav>
